<h3 class="mt-4">Cập nhật người dùng</h3>

<form method="post" action="/users/{{user._id}}?_method=PUT" class="mt-4">
    <div class="form-group">
        <label for="name">Tên người dùng</label>
        <input
            type="text"
            class="form-control"
            id="name"
            value="{{user.name}}"
            name="name"
        />
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input
            type="text"
            class="form-control"
            id="email"
            value="{{user.email}}"
            name="email"
        />
    </div>
    <div class="form-group">
        {{!-- <label for="isAdmin">Admin</label>
        <input type="text" class="form-control" id="isAdmin" name="isAdmin" />
        --}}
        <label for="cars">Chọn quyền người dùng:</label>
        <select name="isAdmin" id="isAdmin">
            <option value="false">false</option>
            <option value="true">true</option>
        </select>
        <br />
    </div>
    <button type="submit" class="btn btn-primary">Cập nhật</button>
</form>
